<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meituan"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ui.meituan.StartImageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.ui.meituan.TabActivityTest" />
        <activity android:name="com.example.ui.meituan.UserLoginActivity" />
        <activity android:name="com.example.ui.meituan.DBActivity" />
        <activity android:name="com.example.ui.meituan.MainMassageActivity" />
        <activity android:name="com.example.ui.meituan.MyMassageActivity" />
        <activity android:name="com.example.ui.meituan.MoreInfoActivity" />
        <activity android:name="com.example.ui.meituan.MyPractiveAdapter" />
        <activity android:name="com.example.ui.meituan.PractiveTwoAdapter" />
        <activity android:name="com.example.ui.meituan.ViewPagerAdapter" />
    </application>

</manifest>